## Numbers, Strings & Variables

Python uses numbers to count and accepts basic arthmetic operations on these numbers. Just like a calculator!:

In [ ]:
# addition
1 + 1

2

In [ ]:
# subtraction
12 - 2

10

In [ ]:
# multiplication
2 * 2

4

In [ ]:
# division
20/2

10.0

In [ ]:
# raise to power
2**3

8

In [ ]:
# modulo
5%2

1

Python accepts a string of text with quotation marks around it. The opening and closing quotation marks must be consistent (single or double):

In [ ]:
"Messi is a great player. His performance on the pitch and his stats are amazing"

'Messi is a great player. His performance on the pitch and his stats are amazing'

In [ ]:
'Messi is a great player. His performance on the pitch and his stats are amazing'

'Messi is a great player. His performance on the pitch and his stats are amazing'

Python allows us to give numbers a name and placeholder for use in wider applications, and problem solving:

In [ ]:
messi_goals = 20
messi_shots = 30

We can calculate Messi's conversion rate by dividing his goals by shots:

In [ ]:
messi_conversion = messi_goals/messi_shots
messi_conversion

0.6666666666666666

We can combine strings and variables in a Python `print` statement:

In [ ]:
print(f'Messi is phenomenal with a conversion rate of {messi_conversion}')

Messi is phenomenal with a conversion rate of 0.6666666666666666

**Rules for Python variables:**

* A variable name must start with a letter or the underscore character

* A variable name cannot start with a number

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

* Variable names are case-sensitive (messi, Messi and MESSI are three different variables)

## Lists

Lists are a way of grouping values; numbers, strings, variables or even another list. Let us create a list of some Liverpool FC players and their jersey numbers:

In [ ]:
Player = ['M. Salah', 'D. Nunez', 'L. Diaz', 'V. Dijk', 'F. Carvalho', 'T. Arnold']
Number = [11, 27, 23, 4, 28, 66]

We can access a player's name and number using the index. Note that Python is zero-indexed.

In [ ]:
Player[0]

'M. Salah'

In [ ]:
Number[0]

11

Let's access Luiz Diaz name and number.

In [ ]:
Player[2]

'L. Diaz'

In [ ]:
Number[2]

23

'Range' is a function that generates a series of numbers between two points. By default, it starts at 0 and goes to whatever number we give it.

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# two arguments in range()
# give me all numbers between these two
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
# three arguments in range()
# give me all numbers between the first two, in steps of the third number
list(range(0,10,2))

[0, 2, 4, 6, 8]

We can use the `append()` method to add a new item to the list:

In [ ]:
Player.append('H. Elliot')

In [ ]:
Player

['M. Salah',
 'D. Nunez',
 'L. Diaz',
 'V. Dijk',
 'F. Carvalho',
 'T. Arnold',
 'H. Elliot']

In [ ]:
Number.append(19)

In [ ]:
Number

[11, 27, 23, 4, 28, 66, 19]

## Dictionaries

Dictionaries are another way of grouping values. Unlike `[lists]`, `{dictionaries}` make use of curly brackets. Within the dictionary, we make use `'key':'value'` to assign information. Let us create a database of Liverpool players:

In [ ]:
Liverpool = {
              'M. Salah':11,
              'D. Nunez':27,
              'L. Diaz':23,
              'V. Dijk':4,
              'F. Carvalho':28,
              'T. Arnold':66
}

To access values in a dictionary, we simply use square brackets after the variable and the key we wish to get the value. Let us get the jersey number for Mohamed Salah:

In [ ]:
Liverpool['M. Salah']

11

Assigning new values to keys, or entirely new key-value pairs is the same as assigning a variable:

In [ ]:
Liverpool['H. Elliot'] = 19

In [ ]:
Liverpool

{'M. Salah': 11,
 'D. Nunez': 27,
 'L. Diaz': 23,
 'V. Dijk': 4,
 'F. Carvalho': 28,
 'T. Arnold': 66,
 'H. Elliot': 19}

We can remove a key-value pair with `'del'`:

In [ ]:
del Liverpool['D. Nunez']

In [ ]:
Liverpool

{'M. Salah': 11,
 'L. Diaz': 23,
 'V. Dijk': 4,
 'F. Carvalho': 28,
 'T. Arnold': 66,
 'H. Elliot': 19}

## Comparisons and Logic

Python allows the use of comparison operators that will return either 'True' or 'False'

In [ ]:
# is two greater than one?
2 > 1

True

In [ ]:
# is two lesser than one?
2 < 1

False

In [ ]:
# is 50 less than or equal to 55?
50 <= 55

True

In [ ]:
# is 22 equals to 22?
22 == 22

True

Let's compare two variables

In [ ]:
Messi = 99
Hazard = 86

In [ ]:
Messi > Hazard

True

Logic operators allows us to use multiple comparisons together. Let's assume we have the option of signing either Messi or Hazard on a budget. We can write a code to evaluate if we can afford the better player:

In [ ]:
Budget = 500000
MessiCost = 400000

In [ ]:
(Messi > Hazard) & (Budget >= MessiCost)

True

Messi will get a â‚¬500,000 bonus if he scores more than 20 goals or makes at least 15 assists. Let's check if he did.

In [ ]:
MessiGoals = 19
MessiAssists = 16

In [ ]:
(MessiGoals > 20) | (MessiAssists >= 15)

True

Messi gets a bonus! But, his teammate Suarez has a bit of temper. He will get a bonus if he scores more than 5 goals, or makes 5 assists AND receives fewer than 3 red cards. Let's check if he did.

In [ ]:
SuarezGoals = 5
SuarezAssists = 10
SuarezRedCards = 3

In [ ]:
(SuarezGoals > 5) or ((SuarezAssists>=5) and (SuarezRedCards<3))

False

## If Statements

Python is able to use `if` statements to evaluate information and act accordingly.

In [ ]:
if 2 > 1:
  print('Done!')

Done!

We can add a final condition with `else`:

In [ ]:
if 1 > 2:
  print('Done')
else:
  print('The statement is false')

The statement is false

In the year 3023, Varcelona decides to hire a robot head coach. Through games, RoboCoach decides to tell his players to attack more or less depending on score.

In [ ]:
VarcelonaScore = 0
OpponentScore = 0

In [ ]:
if VarcelonaScore < OpponentScore:
  print('Full Attack ON!')
elif VarcelonaScore == OpponentScore:
  print('Stay alert, but exploit any opportunity')
else:
  print('Defense Mode ON!')

Stay alert, but exploit any opportunity

##For Loops

Loops are used automate repetitve tasks. For loop is used for iterating over a sequence (a list, a dictionary, or a string). Let's us welcome all players in our previous list. We can write a for loop that iterates over the list once, instead of calling the index one-by-one:

In [ ]:
for player in Player:
  print(f'Welcome, {player}. You will never walk alone.')

Welcome, M. Salah. You will never walk alone.
Welcome, D. Nunez. You will never walk alone.
Welcome, L. Diaz. You will never walk alone.
Welcome, V. Dijk. You will never walk alone.
Welcome, F. Carvalho. You will never walk alone.
Welcome, T. Arnold. You will never walk alone.
Welcome, H. Elliot. You will never walk alone.

## While Loops

While Loops runs until the statement after `'while'` becomes false. It is useful when there is an initial condition we wish to set to `True`. Let us count the number of minutes played in a football match:

In [ ]:
minutesPlayed = 0

while minutesPlayed < 90:
  minutesPlayed += 1

print(f'{minutesPlayed} minutes played, the match is over!')

90 minutes played, the match is over!

The structure of a while loop is simple, but we have to be careful when using it. If the while statement never turns to `'False'`, we will create an infinite loop and break the program.

## Functions

A function is a block of code that runs when it is called. We can pass arguments and parameters into a function. In Python a function is defined using the `def` keyword:

In [ ]:
def square(number):
  return number*number

In [ ]:
square(4)

16

We have just created a function that can square any number.